<div class="layout layout--col" style="height: 100%;">
{% assign shown_count = 0 %}
{% for event in events %}{% if event.on_board %}{% assign shown_count = shown_count | plus: 1 %}{% endif %}{% endfor %}

<div class="flex flex--row flex--align-center flex--between flex-none mb--small">
  <span class="title title--small">JazzLineup.com NYC</span>
  <span class="label label--small label--inverted">{{ shown_count }}</span>
</div>

{% if shown_count > 0 %}
<div class="flex flex--col flex--stretch-x grow gap--xsmall" style="min-height: 0; overflow: hidden;">
  {% assign n = 0 %}
  {% for event in events %}
    {% if event.on_board %}
      {% if n < 6 %}
      <div class="flex flex--row flex--align-center gap--xsmall" style="min-width: 0;">
        <span class="label label--small flex-none" style="width: 32px;">{{ event.sets.first | default: "TBA" }}</span>
        <span class="description description--small grow" style="font-weight: 700; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; min-width: 0;">{{ event.title }}</span>
      </div>
      {% endif %}
      {% assign n = n | plus: 1 %}
    {% endif %}
  {% endfor %}
  {% if shown_count > 6 %}
  <span class="label label--small">+{{ shown_count | minus: 6 }} more</span>
  {% endif %}
</div>
{% else %}
<div class="center-center grow">
  <div class="description description--small">No sets tonight</div>
</div>
{% endif %}
</div>
